<div id="game">
  <div id="gameHeader">
    <h3>
      {{name}}
      <span *ngIf="drawingPlayerName && isPlaying">| {{drawingPlayerName}} is drawing </span>
      <span *ngIf="round">| Round: {{round}}/{{maxRounds}} </span>
      <span *ngIf="word && !powerUps.isHidden()">| Word: <span id="word"><strong>{{word}}</strong></span> </span>
      <span *ngIf="word && powerUps.isHidden()">| T̛̘̥̜̜̼H͉̪̫̟̫̹̯Ę̥͈͓̥͡ ҉̷̲̦͍͈̺̦͔W̧̼O͔̝̭̟̬̰̟̘͡R̮̹͔͕͈̪̖̣D̤̫͔͕͍͙̣ ̧͔̘̘̞̭͍͔͠ͅḨ̹̭͎̖̭̲̀ͅA̷̵̝̮̩͝S̰͓͢ ̝̻͓͍̬B̴̼̯͠E͉̭̤̬̗̜̩͖͡E̳̪͈̦͖Ń̼̙̳̞͔̘͉̺̞̀͟ ̸̧̳̮͍̰̮̣̮̤H̸͠͏̣̻̪̮̹̬̬I҉̷̩̜̜̤̩̟D҉̷̡͍̜̝̳̥͕̘̼D͓E̛͏̤͉͉͍͉̯͖Ǹ̫̘̮͔̫̪͍</span>
      <span>| Time: {{time}} s</span>
    </h3>
  </div>

  <div id="gameContainer">

    <player-list></player-list>

    <span>
      <span id="canvasContainer">
        <span class="filterOverlay" [ngClass]='{
          blurOverlay: powerUps.isBlurred(),
          grayscaleOverlay: powerUps.isGray(),
          hueOverlayEven: powerUps.isRainbow() && (time/3 % 2) <  1,
          hueOverlayOdd: powerUps.isRainbow() && (time/3 % 2) >=  1
        }'>
          <canvas id="gameCanvas" #canvas></canvas>
        </span>
        <span class="blackoutOverlay" [ngClass]="{'blackoutOverlayActive': powerUps.isBlackout()}">
        </span>
        <span class="results" *ngIf="roundResults">
          <span>
            <strong>{{drawingPlayerName}}</strong> was drawing <strong>{{word}}</strong>
          </span>
          <ul>
            <li *ngFor="let result of roundResults">
              <strong>{{result.name}}</strong>: {{result.score}}
            </li>
          </ul>
        </span>
        <span class="results" *ngIf="gameResults">
          <span>
            <strong>GAME OVER!</strong>
          </span>
          <ol>
            <li *ngFor="let result of gameResults">
              <strong>{{result.name}}</strong>: {{result.score}}
            </li>
          </ol>
        </span>
        <span class="results" *ngIf="words">
          <span>
            <strong>Choose a word:</strong>
          </span>
          <span id="wordChoicesContainer">
            <div class="wordChoice" *ngFor="let wordChoice of words">
              <button mat-button (click)="onWordChoice(wordChoice.word)">
                {{wordChoice.word}}
              </button>
              <span class="wordStats">Added by {{wordChoice.addedBy}}</span>
              <span class="wordStats">Played {{wordChoice.played}} times</span>
              <a [href]="'https://www.google.cz/search?q='+wordChoice.word" target="_blank">Google it</a>
            </div>
          </span>
        </span>
      </span>
    </span>

    <chat></chat>

  </div>
  <button id="shareToDiscord" (click)="shareImage()" mat-button><img class="toolIcon" src="assets/icons/discord.png"> SHARE</button>
</div>

<div *ngIf="canDraw" class="tools-container">

  <toolbar [(tool)]="tool"></toolbar>

  <color-picker (colorSelected)="onColorSelected($event)"></color-picker>

  <thickness-picker (thicknessSelected)="onThicknessSelected($event)"></thickness-picker>

  <div class="toolGroup">
    <button (click)="undo()" mat-button>
      <img class="toolIcon" src="assets/icons/tools/undo.png">
    </button>
    <button (click)="resetDrawing()" mat-button>
      <img class="toolIcon" src="assets/icons/tools/clear.png">
    </button>
  </div>
</div>
<div *ngIf="!canDraw" class="tools-container">
  <power-ups></power-ups>
</div>
