#game {
  display: table;
  flex-flow: column;
}

#gameCanvas {
  display: inline-block;
  border: solid 3px black;
}

#canvasContainer {
  position: relative;
  display: block;
}

.results {
  font-size: 2em;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(249, 252, 255, 0.4);
  height: 100%;
  width: 100%;
}

.results > span {
  padding: 40px;
}

.results li {
  padding: 8px;
}

#gameContainer {
  flex: 0 1 auto;
  flex-flow: row;
  display: inline-flex;
  position: relative;
}

#gameHeader {
  flex: 0 1 40px;
}

#wordChoicesContainer {
  display: block;
}

.wordChoice {
  min-height: 40px;
  min-width: 120px;
  margin: 20px;
}

#word {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
}

#toolsContainer {
  margin: auto auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
