<div id="game">
  <div id="gameHeader">
    <h3>
      {{name}}
      <span *ngIf="drawingPlayerName && isPlaying">| {{drawingPlayerName}} is drawing </span>
      <span *ngIf="round">| Round: {{round}}/{{maxRounds}} </span>
      <span *ngIf="word && showWordHint">| Word:
        <span id="word">
          <strong>
            {{effectiveWord}}
          </strong>
        </span>
      </span>
      <span>| Time: {{time}} s</span>
    </h3>
  </div>

  <div id="gameContainer">

    <player-list></player-list>

    <span>
      <span id="canvasContainer">
        <span class="filterOverlay" [ngClass]='{
          blurOverlay: powerUps.isBlurred(),
          grayscaleOverlay: powerUps.isGray(),
          hueOverlayEven: powerUps.isRainbow() && (time/3 % 2) <  1,
          hueOverlayOdd: powerUps.isRainbow() && (time/3 % 2) >=  1
        }'>
          <canvas id="gameCanvas" #canvas></canvas>
        </span>
        <span class="blackoutOverlay" [ngClass]="{'blackoutOverlayActive': powerUps.isBlackout()}">
        </span>
        <span class="results" *ngIf="roundResults">
          <span>
            <strong>{{drawingPlayerName}}</strong> was drawing <strong>{{word}}</strong>
          </span>
          <ul>
            <li *ngFor="let result of roundResults">
              <strong>{{result.name}}</strong>: {{result.score}}
            </li>
          </ul>
        </span>
        <span class="results" *ngIf="gameResults">
          <span>
            <strong>GAME OVER!</strong>
          </span>
          <ol>
            <li *ngFor="let result of gameResults">
              <strong>{{result.name}}</strong>: {{result.score}}
            </li>
          </ol>
        </span>
        <span class="results" *ngIf="words">
          <span>
            <strong>Choose a word:</strong>
          </span>
          <span id="wordChoicesContainer">
            <div class="wordChoice" *ngFor="let wordChoice of words">
              <button mat-button (click)="onWordChoice(wordChoice.word)">
                {{wordChoice.word}}
              </button>
              <span class="wordStats">Last seen: {{getTimeAgoString(wordChoice.lastSeen)}}</span>
              <span class="wordStats">Last played: {{getTimeAgoString(wordChoice.lastPlayed)}}</span>
              <span class="wordStats">Total played: {{wordChoice.played}}</span>
              <span class="wordStats">Added by: {{wordChoice.addedBy}}</span>
              <a [href]="'https://www.google.cz/search?tbm=isch&q='+wordChoice.word" target="_blank">Google it</a>
            </div>
          </span>
        </span>
      </span>
    </span>

    <chat></chat>

  </div>
  <button id="shareToDiscord" (click)="shareImage()" mat-button><img class="toolIcon" src="assets/icons/discord.png">
    SHARE
  </button>
</div>

<div *ngIf="canDraw" class="tools-container">

  <toolbar *ngIf="!powerUps.isSabotaging()" [(tool)]="tool"></toolbar>

  <color-picker (colorSelected)="onColorSelected($event)"></color-picker>

  <thickness-picker *ngIf="!powerUps.isSabotaging()" (thicknessSelected)="onThicknessSelected($event)"></thickness-picker>

  <div class="toolGroup" *ngIf="!powerUps.isSabotaging()">
    <button class="undoButton" (click)="undo()" mat-button>
      <key-bind char="Z" (trigger)="undo()"></key-bind>
      <img class="toolIcon" src="assets/icons/tools/undo.png">
    </button>
    <button class="undoButton" (click)="resetDrawing()" mat-button>
      <key-bind char="X" (trigger)="resetDrawing()"></key-bind>
      <img class="toolIcon" src="assets/icons/tools/clear.png">
    </button>
  </div>
</div>
<div *ngIf="!canDraw" class="tools-container">
  <power-ups></power-ups>
</div>
