#chatHeader {
  flex: 0 1 auto;
}

#chatWindow {
  vertical-align: top;
  background-color: white;
  flex-flow: column;
  flex: 0 1 auto;
  display: inline-flex;
  min-width: 240px;
  width: 240px;
  height: 600px;
  border: solid 3px black;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#chatInput{
  width: 75%;
  margin: 0px;
}

#chatSendButton {
  width: 18%;
  margin: 0px;
}

#chatHistory{
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.chatMessage {
  flex: 0 1 40px;
  display: inherit;
  padding: 4px;
}
