<div id="chatWindow">
  <div id="chatHeader">Chat:</div>
  <div id="chatHistory" #chatHistory>
  <span class="chatMessage" *ngFor="let message of messages" [ngStyle]="{'color': message.color}">
    <span *ngIf="!message.system"><strong>{{message.sender}}:</strong> {{message.text}}</span>
    <span *ngIf="message.system" [innerHTML]="message.html" target="_blank"></span>
  </span>
  </div>
  <form [formGroup]="form" (submit)="onSubmit($event)">
    <input id="chatInput" type="text" formControlName="input" placeholder="Type your guess here" autofocus required #chatInput/>
    <button id="chatSendButton" (click)="onSubmit($event)">Send</button>
  </form>
</div>
