.colorButton {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
}

.colorCell {
  padding: 0px;
}

#colorTable {
  display: inline;
}

#colorIndicator {
  display: inline-block;
  height: 60px;
}
