<table id="colorTable" class="toolGroup">
  <mat-button-toggle-group value="0x0">
    <tr *ngFor="let i of [0,1]">
      <td *ngIf="i == 0" rowspan="2">
        <button id="colorIndicator" mat-button [ngStyle]="{'background-color': color}"></button>
      </td>
      <td *ngFor="let j of [0,1,2,3,4,5,6,7,8,9]" class="colorCell">
        <mat-button-toggle
          class="myButton colorButton"
          [ngClass]="{'colorButtonActive': i+'x'+j === colorCoords}"
          [ngStyle]="{'background-color': colors[i][j]}"
          [value]="i + 'x' +  j"
          (change)="onColorSelected(i, j)"
          (click)="onColorSelected(i, j)"
        >
          <key-bind [char]="keys[i][j]" (trigger)="onColorSelected(i, j)"></key-bind>
          &nbsp;
        </mat-button-toggle>
      </td>
    </tr>
  </mat-button-toggle-group>
</table>
