.wordTableRow {
  border-bottom: solid 1px black;
  display: table;
  padding: 18px 0px 0px 0px;
  min-height: 50px;
}

.wordTableCell {
  display: inline-block;
  min-width: 200px;
}

.wordTableCell:nth-child(1) {
  min-width: 100px;
}

.wordTableCell:nth-child(2) {
  min-width: 320px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  font-weight: bolder;
}

.wordTableCell:nth-child(2) > a:link, .wordTableCell:nth-child(2) > a:visited {
  color: black;
  text-decoration: none;
}

.deletedWord > a:link, .deletedWord > a:visited {
  text-decoration: line-through !important;
  color: gray !important;
  font-weight: 300 !important;
}
