@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #d1b796;
  font-family: Arial;
}

.errorMessage {
  color: red;
}

.toggleButton {
  border: solid 3px rgba(80, 79, 82, 0.72);
  border-radius: 5px;
}

.toggleButton.mat-button-toggle-checked {
  border: solid 3px black;
}
