@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #d1b796;
  font-family: Arial;
}

.errorMessage {
  color: red;
}

.myButton {
  border: solid 3px rgba(80, 79, 82, 0.72) !important;
  border-radius: 5px !important;
}

.myButton.mat-button-toggle-checked {
  border: solid 3px black !important;
}

.toolButton {
  width: 32px;
  height: 32px;
  display: table-cell;
}

.toolIcon {
  width: 32px;
  height: 32px;
}
