@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #d1b796;
  font-family: Arial;
}

.errorMessage {
  color: red;
}

.mat-button, .mat-button-toggle {
  border: solid 3px rgba(80, 79, 82, 0.72) !important;
  border-radius: 5px !important;
}

.mat-button-toggle {
  border-bottom-color: dimgray !important;
  border-right-color: dimgray !important;
  border-radius: 5px !important;
}

.mat-button-toggle-checked {
  border-color: rgba(80, 79, 82, 0.72) !important;
  border-top-color: dimgray !important;
  border-left-color: dimgray !important;
}

.toolButton {
  width: 32px;
  height: 32px;
  display: table-cell;
}

.toolIcon {
  width: 32px;
  height: 32px;
}

.mat-button-toggle-label-content {
  padding: 0px 4px !important;
}

.toolGroup {
  display: inline;
  vertical-align: top;
}

